.frame {
    position: relative;
    user-select: none;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    &::after {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        content: '';
        display: block;
        height: 100%;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    > div {
        background-color: #1d2129;
        overflow: hidden;
        position: absolute;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &--one {
        &::after {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACshmLzAAAA0ElEQVRYCe1W0QnFIAx8eXQwR3M0ncwaqaE1AaXG+pNCMR4xd16tBH78SRxSQ6Ct1AKFPCV9DQBERUErBueZewF7Luy9x12xnf2RdedjAswBc8AcMAfMAXNguwNtd1Iahtw8qLcIt5oPzsfkYmVdi6IaxscAgWxGULd+TZghETQPQ4CHsPSh2It++V5nIh1Va4yxhp+OJKCyOudq2B1DCN2cXgITcPtdaC1iEk4JEwETIDmA5BI+wUtLh27CVeSoYkgAyV0Q0CfQOFBv9G2/iE4ws3+l7wMkzwAAAABJRU5ErkJggg==');
        }

        > div {
            bottom: 40%;
            left: 15%;
            right: 18%;
            top: 6%;
        }
    }

    &--two {
        &::after {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACshmLzAAABJklEQVRYCe1XWw6EIAzEzZ7LeDKJnky9mEuJQ5AiW2LX/YEPy6N0piPG0plMm6Zpz0yrTVlrOwR7owNL4MMwYKhq+7438zxTTErQk3jFCA+Bx5AmKEDg4zieFjUHR+YspCcA8G3bmMOvJ4ICAFqWBV0VS6qWEmME4hOqwcARKH5Rp0OoAVgboxFoCjQFmgJNgabA3xVgv+Pdtdo/2h1/RqBUPNwBwl5Xb1CXV8VXNRs2atgU/MTEDZ6QPmSOhNgEFlJbKlypjsxll8bIjdkZiJ0INB5f9eki43xpOfhLa8usAgCOb0h0q5EeUFTWElUYAUidZisFxz4pieIroGC1wCAgtUyBY6N/l+u6GpJe0kA0yZy2XmH4sMVF5xEOlfeue3yL7aN9ALcuZFnbdOIyAAAAAElFTkSuQmCC');
        }

        > div {
            bottom: 34%;
            left: 12%;
            right: 24.5%;
            top: 18%;
        }
    }

    &--three {
        &::after {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACshmLzAAAA+UlEQVRYCe1Wyw3CMAx9LSzAMpzDDozBApyaIiEWYAx2IGzDCXHmQImd1GoroYDSz6HJIbEj2+/5NZUMzH1lWutqKhEsNpYErpQanYMxhjGZAFmbrcF7pVHegeKRoTxWKM+ag4bYip2rKgTIJXA+LXjMul4Up5OydaddG9Ac0yJweFbI18Bin+N1iiPB1X/YWgQInFYsePNNfbMdEtwjJMfJdvP3xp3Ku38fJphRfxpRoL4IZvYQ0FRFCFBd+19mPdQPlrDNygPLg9EDByQCSYGkQFIgKZAUSApMroAMJH5qlUFh4DFAyjOBMccxQfYGjWCjd90lMW//A1I9Pez/+XLIAAAAAElFTkSuQmCC');
        }

        > div {
            bottom: 15%;
            left: 9%;
            right: 9%;
            top: 31%;
        }
    }
}
