.section--inkstarter {
    .cover {
        align-items: stretch;

        &__content {
            align-items: center;
            background-image: url('/images/inkstarter-01.gif');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        svg {
            width: 27%;
        }
    }

    img {
        display: block;
        height: auto;
        margin-bottom: var(--setetres-font-weight);
        width: 100%;
    }
}
